body{
    margin: 0;
}
h1{
    font-size: 60px;
    font-family: sans-serif;
}
a{
    font-size: 22px;
}

.half-width p{
font-size: 23px;
color: gray;
margin-bottom: 55px;
padding-right: 40px;

}

.text-color{
    color: orange;
}

.D-flex-content{
    display: flex;
   padding-top: 20px;
   margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width h1{
    padding-top: 13%;
    
}

.half-width img{
    width: 85%;
}
.order-button{
    margin-top: 50px;
    padding-top: 30px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 25px 40px;
    border-radius: 40%;
}
.imgresize img{
    width: 45%;
    padding-left: 20%;
}
#About-me-bg{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
   background-position: 100%;
}

.recipies{
    padding-left:26%;
    padding-right:24%;
    text-align: center;
}
.recipies p{
    font-size: 23px;
    color: gray;
    margin-bottom: 55px;
    padding-right: 40px;
    
    }
    .card-view{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    }
.third-width{
    width: 50%;
    padding-left: 1%;
    padding-right: 0%;
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 5%;
    margin-left: 3%;
    margin-right: 3%;    
}
.third-width img{
    padding-top: 5%;
    width: 95%;
    height:auto ;
}


